.MainNav {
  display: flex;

  align-items: center;
  background-color: white;
}

.TextBar {
  display: flex;
  gap: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #5d41c5;
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-bottom: -15px;
}

.TextBar a {
  text-decoration: none;
  color: inherit;
  font-family: "Tajawal", sans-serif;
}

.imgBar {
  margin-bottom: -10px;
  height: 20vh;
  max-height: 70px;
  margin-right: 100px;
}

.BottomBorder {
  height: 3px;
  background: #6c44e5;
  margin-top: 10px;
}
